body { 
  background-image: url("img/body-bg.jpg");
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
}

h2 {
  font-size: 30px;
  color: white;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
  color: white;
}

.menu {
  width: 80%;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
 margin-top: 0px;
  width: 40px;
  height: 40px;
}

hr {
  height: 2px;
  background-color: orange;
  border-color: orange;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  color: white;
}

/* Aquí se agregan food y drink */
.food, .drink {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: orange;
}

a:active {
  color: orange;
}
